Dojot/Data/DojotData.json
{"devices":[{"attrs":[],"id":"17f28c","label":"Raspberry","templates":[2]},{"attrs":[],"id":"249eb4","label":"Relogio","templates":[1]},{"attrs":[],"id":"4f30e2","label":"RaspControle","templates":[3]}],"templates":[{"attrs":[{"id":1,"label":"inicio_reserva","static_value":"","template_id":"1","type":"dynamic","value_type":"string"},{"id":2,"label":"fim_reserva","static_value":"","template_id":"1","type":"dynamic","value_type":"string"},{"id":3,"label":"fim","static_value":"","template_id":"1","type":"actuator","value_type":"string"}],"id":1,"label":"RelogioTemplate"},{"attrs":[{"id":4,"label":"id","static_value":"","template_id":"2","type":"dynamic","value_type":"integer"},{"id":5,"label":"id_rasp","static_value":"","template_id":"2","type":"actuator","value_type":"integer"}],"id":2,"label":"RaspberryTemplate"},{"attrs":[{"id":6,"label":"atividade","static_value":"","template_id":"3","type":"dynamic","value_type":"bool"},{"id":7,"label":"horario","static_value":"00:00:00","template_id":"3","type":"static","value_type":"string"}],"id":3,"label":"RaspberryControle"}],"flowRemoteNodes":[],"flows":[{"name":"monitoramento","enabled":true,"id":"8864b17e-ef2b-42e7-8045-152e121bd45c","flow":[{"id":"Ae03db08752615","type":"tab","label":"Fluxo 1"},{"id":"A30aaec7c215fa4","type":"event device in","z":"Ae03db08752615","name":"input","event_configure":true,"event_publish":true,"device_id":"17f28c","x":98.5,"y":142,"wires":[["A2c2c5070932eb"]]},{"id":"Aa6cfbb7dc7b228","type":"multi actuate","z":"Ae03db08752615","name":"output","device_source":"self","devices_source_dynamic":"","devices_source_dynamicFieldType":"msg","devices_source_configured":[""],"attrs":"output","_devices_loaded":true,"x":620.5,"y":282,"wires":[]},{"id":"A2c2c5070932eb","type":"switch","z":"Ae03db08752615","name":"interruptor","property":"payload.data.attrs.id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":283.5,"y":197,"wires":[["A8813a493a70648"]]},{"id":"A8813a493a70648","type":"template","z":"Ae03db08752615","name":"id_rasp","field":"output.id_rasp","fieldType":"msg","syntax":"handlebars","template":"{{payload.data.attrs.id}}","output":"str","x":459.5,"y":240,"wires":[["Aa6cfbb7dc7b228"]]}],"created":1584553991811,"updated":1584555305318},{"name":"teste","enabled":true,"id":"650e07a0-bfb8-4a28-9b3c-bed2c2f61b6a","flow":[{"id":"A20ea0adbb2fe76","type":"tab","label":"Fluxo 1"},{"id":"A52abf19f97ad9","type":"event device in","z":"A20ea0adbb2fe76","name":"input","event_configure":true,"event_publish":true,"device_id":"17f28c","x":110.5,"y":148,"wires":[[]]},{"id":"A6852db4c518514","type":"switch","z":"A20ea0adbb2fe76","name":"interruptor","property":"payload.data.attrs.id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":265.5,"y":193,"wires":[[]]},{"id":"A80a87debe3416","type":"template","z":"A20ea0adbb2fe76","name":"","field":"payload","fieldType":"msg","syntax":"handlebars","template":"Este é o payload:  {{{stringify payload}}} !","output":"str","x":449.5,"y":229,"wires":[[]]}],"created":1584553991813,"updated":1584553991813},{"name":"relogio","enabled":true,"id":"b0e12587-4894-437b-9c48-31083948f971","flow":[{"id":"A4600fb8de92af4","type":"tab","label":"Fluxo 1"},{"id":"A8830c3d0898a5","type":"event device in","z":"A4600fb8de92af4","name":"input","event_configure":true,"event_publish":true,"device_id":"249eb4","x":86.5,"y":143,"wires":[["A96e1ab41226fa8"]]},{"id":"A31e1687fa92e98","type":"template","z":"A4600fb8de92af4","name":"fim","field":"output.fim","fieldType":"msg","syntax":"handlebars","template":"{{payload.data.attrs.fim_reserva}}","output":"str","x":392.5,"y":220,"wires":[["Aeb87c355f7126"]]},{"id":"Aeb87c355f7126","type":"multi actuate","z":"A4600fb8de92af4","name":"output","device_source":"self","devices_source_dynamic":"","devices_source_dynamicFieldType":"msg","devices_source_configured":[""],"attrs":"output","_devices_loaded":true,"x":585.5,"y":293,"wires":[]},{"id":"A96e1ab41226fa8","type":"switch","z":"A4600fb8de92af4","name":"interruptor","property":"payload.data.attrs.inicio_reserva","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":228.5,"y":191,"wires":[["A31e1687fa92e98"]]}],"created":1584572036326,"updated":1584572157514}],"cronJobs":[]}