Dojot/Data/DojotData.json
{"devices":[{"attrs":[],"id":"17f28c","label":"Raspberry","templates":[2]},{"attrs":[],"id":"249eb4","label":"Relogio","templates":[1]},{"attrs":[],"id":"4f30e2","label":"RaspControle","templates":[3]}],"templates":[{"attrs":[{"id":1,"label":"inicio_reserva","static_value":"","template_id":"1","type":"dynamic","value_type":"string"},{"id":2,"label":"fim_reserva","static_value":"","template_id":"1","type":"dynamic","value_type":"string"},{"id":3,"label":"fim","static_value":"","template_id":"1","type":"actuator","value_type":"string"},{"id":10,"label":"termino_monitoramento","static_value":"","template_id":"1","type":"dynamic","value_type":"bool"},{"id":11,"label":"termino","static_value":"","template_id":"1","type":"actuator","value_type":"bool"}],"id":1,"label":"RelogioTemplate"},{"attrs":[{"id":4,"label":"id","static_value":"","template_id":"2","type":"dynamic","value_type":"integer"},{"id":5,"label":"id_rasp","static_value":"","template_id":"2","type":"actuator","value_type":"integer"},{"id":15,"label":"time_msg","static_value":"","template_id":"2","type":"dynamic","value_type":"string"},{"id":16,"label":"time","static_value":"","template_id":"2","type":"actuator","value_type":"string"}],"id":2,"label":"RaspberryTemplate"},{"attrs":[{"id":6,"label":"atividade","static_value":"","template_id":"3","type":"dynamic","updated":"2020-03-19T14:31:19.626694+00:00","value_type":"integer"},{"id":12,"label":"id","static_value":"","template_id":"3","type":"actuator","value_type":"integer"},{"id":13,"label":"time_msg","static_value":"","template_id":"3","type":"dynamic","value_type":"string"},{"id":14,"label":"time","static_value":"","template_id":"3","type":"actuator","value_type":"string"}],"id":3,"label":"RaspberryControle"}],"flowRemoteNodes":[],"flows":[{"name":"monitoramento","enabled":true,"id":"8864b17e-ef2b-42e7-8045-152e121bd45c","flow":[{"id":"Ae03db08752615","type":"tab","label":"Fluxo 1"},{"id":"A30aaec7c215fa4","type":"event device in","z":"Ae03db08752615","name":"input","event_configure":true,"event_publish":true,"device_id":"17f28c","x":98.5,"y":142,"wires":[["A2c2c5070932eb"]]},{"id":"Aa6cfbb7dc7b228","type":"multi actuate","z":"Ae03db08752615","name":"output","device_source":"self","devices_source_dynamic":"","devices_source_dynamicFieldType":"msg","devices_source_configured":[""],"attrs":"output","_devices_loaded":true,"x":748.5,"y":243,"wires":[]},{"id":"A2c2c5070932eb","type":"switch","z":"Ae03db08752615","name":"interruptor","property":"payload.data.attrs.id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":283.5,"y":197,"wires":[["A8813a493a70648"]]},{"id":"A8813a493a70648","type":"template","z":"Ae03db08752615","name":"id_rasp","field":"output.id_rasp","fieldType":"msg","syntax":"handlebars","template":"{{payload.data.attrs.id}}","output":"str","x":459.5,"y":240,"wires":[["A16d69e99daedd1"]]},{"id":"A16d69e99daedd1","type":"template","z":"Ae03db08752615","name":"time","field":"output.time","fieldType":"msg","syntax":"handlebars","template":"{{payload.data.attrs.time_msg}}","output":"str","x":608,"y":239,"wires":[["Aa6cfbb7dc7b228"]]}],"created":1584553991811,"updated":1586381763379},{"name":"relogio","enabled":true,"id":"b0e12587-4894-437b-9c48-31083948f971","flow":[{"id":"A4600fb8de92af4","type":"tab","label":"Fluxo 1"},{"id":"A8830c3d0898a5","type":"event device in","z":"A4600fb8de92af4","name":"input","event_configure":true,"event_publish":true,"device_id":"249eb4","x":86.5,"y":143,"wires":[["A96e1ab41226fa8"]]},{"id":"A31e1687fa92e98","type":"template","z":"A4600fb8de92af4","name":"fim","field":"output.fim","fieldType":"msg","syntax":"handlebars","template":"{{payload.data.attrs.fim_reserva}}","output":"str","x":392.5,"y":220,"wires":[["Aeb87c355f7126"]]},{"id":"Aeb87c355f7126","type":"multi actuate","z":"A4600fb8de92af4","name":"output","device_source":"self","devices_source_dynamic":"","devices_source_dynamicFieldType":"msg","devices_source_configured":[""],"attrs":"output","_devices_loaded":true,"x":585.5,"y":293,"wires":[]},{"id":"A96e1ab41226fa8","type":"switch","z":"A4600fb8de92af4","name":"interruptor","property":"payload.data.attrs.inicio_reserva","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":228.5,"y":191,"wires":[["A31e1687fa92e98"]]}],"created":1584572036326,"updated":1585838546236},{"name":"termino_monitoramento","enabled":true,"id":"2eae3d88-2e92-4ce0-9073-710143c66f3b","flow":[{"id":"Af781386d751ed8","type":"tab","label":"Fluxo 1"},{"id":"A4bdb0ab9570c34","type":"event device in","z":"Af781386d751ed8","name":"input","event_configure":true,"event_publish":true,"device_id":"249eb4","x":119,"y":123,"wires":[["A7c60d8d6193208"]]},{"id":"Afa18d4bae86f18","type":"multi actuate","z":"Af781386d751ed8","name":"output","device_source":"self","devices_source_dynamic":"","devices_source_dynamicFieldType":"msg","devices_source_configured":[""],"attrs":"output","_devices_loaded":true,"x":618,"y":273,"wires":[]},{"id":"A7c60d8d6193208","type":"switch","z":"Af781386d751ed8","name":"interruptor","property":"payload.data.attrs.termino_monitoramento","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":261,"y":171,"wires":[["Ab71edf2019e93"]]},{"id":"Ab71edf2019e93","type":"change","z":"Af781386d751ed8","name":"termino","rules":[{"t":"set","p":"output.termino","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":453.5,"y":212,"wires":[["Afa18d4bae86f18"]]}],"created":1584807907430,"updated":1584808164409},{"name":"Raspberry_Controle","enabled":true,"id":"1ef28573-5324-4e89-94cb-fc69b0c2538a","flow":[{"id":"Aff76dba90dc968","type":"tab","label":"Fluxo 1"},{"id":"Aaa3e3458cc3d98","type":"event device in","z":"Aff76dba90dc968","name":"input","event_configure":true,"event_publish":true,"device_id":"4f30e2","x":92,"y":133,"wires":[["A9684891ff6fca8"]]},{"id":"A302ff08f2a98a","type":"template","z":"Aff76dba90dc968","name":"id","field":"output.id","fieldType":"msg","syntax":"handlebars","template":"{{payload.data.attrs.atividade}}","output":"str","x":450,"y":140,"wires":[["A1afe3883abb9d7"]]},{"id":"A8987c97844e228","type":"multi actuate","z":"Aff76dba90dc968","name":"output","device_source":"self","devices_source_dynamic":"","devices_source_dynamicFieldType":"msg","devices_source_configured":[""],"attrs":"output","_devices_loaded":true,"x":760,"y":142,"wires":[]},{"id":"A9684891ff6fca8","type":"switch","z":"Aff76dba90dc968","name":"interruptor","property":"payload.data.attrs.atividade","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":261,"y":150,"wires":[["A302ff08f2a98a"]]},{"id":"A1afe3883abb9d7","type":"template","z":"Aff76dba90dc968","name":"time","field":"output.time","fieldType":"msg","syntax":"handlebars","template":"{{payload.data.attrs.time_msg}}","output":"str","x":589,"y":137,"wires":[["A8987c97844e228"]]}],"created":1585838621762,"updated":1586381675311}],"cronJobs":[]}